

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="/static/css/styleguide.css" />
    <link rel="stylesheet" href="/static/css/artistbooking.css" />
     <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/styleguide.css">
    <link rel="stylesheet" href="/static/css/globals.css">
  </head>
  <body >
      <div class="nav-bar">
      <div class="frame">
         <a class="nav-item nav-link text-wrapper-2 " id="home" href="/landing">Home</a>

          <a class="nav-item nav-link text-wrapper-2" id="artist" href="/artists">Artists</a>
          <a class="nav-item nav-link text-wrapper-2" id="contact" href="/landing">Contact</a>
          <a class="nav-item nav-link text-wrapper-2" id="about-us" href="/landing">About Us</a>

<!--          <a class="nav-item nav-link text-wrapper-4" id="book" href="/book">Book-Now</a>-->
           <a class="nav-item nav-link text-wrapper-2" id="logout" href="/logout">Logout</a>
      </div>
      <div class="text-wrapper-3">Musicista</div>
      <img class="ellipse" src="/static/img/Ellipse 1.svg" />

    </div>
    <div class="midnight-mirage">

      <div class="overlap">
        <div class="text-wrapper">Band | Age 20-30</div>
        <div class="div">Midnight Mirage</div>

      </div>
      <p class="introducing-midnight">
        Introducing &#34;Midnight Mirage&#34; - a dynamic band that blends captivating melodies, infectious rhythms, and
        soulful harmonies to create an unforgettable musical experience. Get ready to be swept away by the harmonious
        fusion of their sound and embark on a musical journey that will leave you wanting more. It is dynamic and
        electrifying musical ensemble that takes audiences on a thrilling journey through the realms of sound. With
        their unique blend of talent, passion, and creativity, this band has carved a niche for themselves in the music
        industry, captivating listeners with their unparalleled performances.
      </p>
      <p class="p">Note: This artist is booked from 06/10/23 - 08/10/23</p>
      <div class="group"><a href="/book-now" id="buy_now_btn">
        <div class="overlap-group"><div class="text-wrapper-6">BOOK</div></a></div>
      </div>
      <div class="frame-2">
         <div class="div-wrapper"><div >GENRE</div></div>
        <div class="overlap-group-wrapper">
          <div class="div-wrapper"><div class="text-wrapper-7">ROCK</div></div>
        </div>
        <div class="overlap-wrapper">
          <div class="overlap-2"><div class="text-wrapper-8">JAZZ</div></div>
        </div>
        <div class="group-2">
          <div class="overlap-3"><div class="text-wrapper-9">COUNTARY</div></div>
        </div>
        <div class="group-3">
          <div class="r-b-wrapper"><div class="r-b">R&amp;B</div></div>
        </div>
        <div class="group-4">
          <div class="overlap-4"><div class="text-wrapper-8">POP</div></div>
        </div>
      </div>
      <div class="performance-GIF">
        <img class="rectangle" src="/static/css/img/last1.gif" />
        <img class="img" src="/static/css/img/last2.gif" />
        <img class="rectangle-2" src="/static/css/img/last3.gif" />
      </div>
    </div>
   <div class="group-6">
            <div class="overlap-10">
              <div class="text-wrapper-22">GENRES</div>
              <img class="line-4" src="/static/css/img/line-93.svg" />
            </div>
          </div>
          <div class="group-7">
            <div class="overlap-11">
              <div class="text-wrapper-22">PERFORMANCES</div>
              <img class="line-5" src="/static/css/img/line-93.svg" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

