{% block title %}Book an Artist{% endblock %}

{% block content %}

<h2>Book an Artist</h2>
<form action="/book_artist" method="post">
    <label for="artist">Select Artist:</label>
    <select name="artist" id="artist" required>
        {% for artist in artists %}
            <option value="{{ artist.id }}">{{ artist.name }}</option>
        {% endfor %}
    </select>
    <br>
    <label for="event_date">Event Date:</label>
    <input type="date" name="event_date" id="event_date" required>
    <br>
    <input type="submit" value="Submit Booking">
</form>