

<!DOCTYPE html>
<html>
  <head>
<!--    <link rel="stylesheet" href="globals.css" />-->
<!--    <link rel="stylesheet" href="styleguide.css" />-->
<!--    <link rel="stylesheet" href="style.css" />-->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/styleguide.css">
    <link rel="stylesheet" href="/static/css/globals.css">
    <link rel="stylesheet" href="/static/css/chat.css">
    <style>
      input{

background : transparent ;
border:none;
outline:none;
color: var(--collection-1-text-secondary);
font-size:16px;
letter-spacing: 0.48px;
  line-height: 19.2px;
font-family: "Inter", Helvetica;
  font-weight: 400;

}
textarea{
background : transparent ;
border:none;
outline:none;
color: var(--collection-1-text-secondary);
font-size:16px;
letter-spacing: 0.48px;
  line-height: 19.2px;
font-family: "Inter", Helvetica;
  font-weight: 400;

}
    </style>
  </head>
  <body>
    <div class="landing-page">
      <div class="div">
        <div class="home">
         <div class="text-wrapper">Unforgettable Events</div>
         <p class="stress-free-bookings">
        <span class="span">Stress Free Bookings </span>
        <span>|</span>
        <span class="span">World Class Musicians</span>
        </p>
        <div class="group">
        <div class="overlap-group"><a href="/artists"><div class="div">EXPLORE</div></a></div>
        </div>
        <div class="nav-bar">
        <div class="frame">

           <a class="nav-item nav-link text-wrapper-4 " id="home" href="/landing">Home</a>

          <a class="nav-item nav-link text-wrapper-4" id="artist" href="/artists">Artists</a>
          <a class="nav-item nav-link text-wrapper-4" id="contact" href="#section">Contact</a>
          <a class="nav-item nav-link text-wrapper-4" id="about-us" href="#about">About Us</a>

<!--          <a class="nav-item nav-link text-wrapper-4" id="book" href="/book">Book-Now</a>-->
           <a class="nav-item nav-link text-wrapper-4" id="logout" href="/logout">Logout</a>
        </div>
        <div class="text-wrapper-5">Musicista</div>
        <img class="ellipse" src="/static/img/Ellipse 1.svg" />
            <a href="/genre"><img class="icon-search-normal" src="/static/css/img/🦆 icon _search normal 1_.svg" /></a>
      </div>
    </div>


        <div class="overlap">
          <div class="trending-artists">
            <div class="overlap-group">
              <div class="group">
                <div class="overlap-group-2">
                  <div class="trending">TRENDING</div>
                  <img class="line" src="/static/img/line-93.svg" />
                </div>
              </div>
              <div class="overlap-wrapper">
                <div class="overlap-2">
                  <div class="artists">
                    <a href="/artistbooking"><div class="overlap-group-wrapper">
                      <div class="div-wrapper"><div class="text-wrapper-2">Midnight Mirage| Band</div></div>
                    </div>
                        </a>
                    <div class="group-2">
                      <div class="overlap-3"><div class="text-wrapper-2">Serena| Solo</div></div>
                    </div>
                    <div class="group-3">
                      <div class="overlap-4"><div class="text-wrapper-2">Miraculous| Band</div></div>
                    </div>
                    <div class="group-4">
                      <div class="harmony-echo-duet-wrapper">
                        <div class="text-wrapper-2">Harmony &amp; Echo| Duet</div>
                      </div>
                    </div>
                    <div class="group-5">
                      <div class="overlap-5"><div class="text-wrapper-2">Indigo Moon| Solo</div></div>
                    </div>
                    <div class="group-6">
                      <div class="overlap-6"><div class="text-wrapper-2">Fellow Bois| Band</div></div>
                    </div>
                    <div class="group-7">
                      <div class="overlap-7"><div class="text-wrapper-2">Serena Stone| Solo</div></div>
                    </div>
                  </div>
                  <div class="ellipse"></div>
                  <div class="ellipse-2"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="section-discover"><p class="p"></p></div>
        </div>
        <div class="contact">

          <div class="group-8">
            <div class="overlap-group-3">
              <div class="text-wrapper-3" id="section">CONNECT MUSICAL STRINGS</div>
<!--              <img class="img" src="/static/img/line-93.svg" />-->
            </div>
          </div>
          <div class="overlap-8">
            <div class="rectangle"></div>
            <div class="group-9">
              <div class="overlap-9"><a href="/landing"><div class="text-wrapper-4"> <input style="border-bottom:none " type="submit" value="SUBMIT" /></div></a></div>
            </div>
            <form class="contact-form" action="/contact" method="POST" style=" background: 'linear-gradient(180deg, #E9D8C9 0%, #FDFAF7 87%, rgba(248.84, 233.20, 218.77, 0) 100%)'">
            <div class="text-wrapper-5">Contact Us</div>
            <div class="rectangle-2"><input type="text" name="name" placeholder="Enter your name"></div>
            <div class="text-wrapper-6"></div>
            <div class="rectangle-3"> <textarea rows="7" cols="40" name="message" placeholder="Enter your message here"></textarea></div>
            <div class="text-wrapper-7"></div>
            <div class="rectangle-4"><input type="text" name="number" placeholder="Enter your number"></div>
            <div class="text-wrapper-8"></div>
            <div class="rectangle-5"><input type="email" name="email" placeholder="Enter your email"></div>
            <div class=""> </div>
            </form>
            <img class="line-2" src="static/img/line-94.svg" />
            <div class="text-wrapper-10">CALL US</div>
            <div class="text-wrapper-11">+91XXX XXX XXXX</div>
            <div class="text-wrapper-12">MAIL US</div>
            <div class="text-wrapper-13">musicistasup@gmail.com</div>
            <div class="text-wrapper-14">FOLLOW US</div>
            <img class="social-media" src="/static/img/social-media-1.svg" />
          </div>
        </div>
        <div class="about-us" id="about">
          <div class="group-10">
            <div class="overlap-group-4">
              <div class="text-wrapper-3">OUR JOURNEY</div>
              <img class="line-3" src="/static/img/line-93.svg" />
            </div>
          </div>
          <p class="text-wrapper-15">
            Founded by a team of music enthusiasts, Musicista was born out of a shared love for live music and the
            desire to simplify the process of booking talented musicians. We saw a gap in the market for a platform that
            could bridge the gap between musicians looking for gigs and event organizers searching for the ideal
            performers.
          </p>
          <img class="ellipse-3" src="/static/img/ellipse-2.png" />
          <img class="ellipse-4" src="/static/img/ellipse-3.png" />
          <img class="ellipse-5" src="/static/img/ellipse-4.png" />
        </div>
        <footer class="footer">
          <div class="text-wrapper-16">Musicista</div>
          <div class="text-wrapper-17">Connect With Us</div>
          <div class="text-wrapper-18">Home</div>
          <div class="text-wrapper-19">Bookings</div>
          <div class="text-wrapper-20">Contact</div>
          <div class="text-wrapper-21">Artists</div>
          <img class="line-4" src="/static/img/line-1.svg" />
          <img class="line-5" src="/static/img/line-4.svg" />
          <img class="line-6" src="/static/img/line-4.svg" />
          <img class="line-7" src="/static/img/line-4.svg" />
          <img class="social-media-2" src="/static/img/social-media.svg" />
          <p class="musicista-all">
            <span class="span">Musicista © </span>
            <span class="text-wrapper-22">2023 </span>
            <span class="span"> | All rights Reserved</span>
          </p>
          <div class="text-wrapper-23">Privacy Policy</div>
          <div class="text-wrapper-24">Cookie Policy</div>
          <div class="text-wrapper-25">Terms and Conditions</div>
          <p class="toll-no-xxxxxx">Toll No: +91-40-xxxxxx<br />Toll Free No: 1-800-xxxxxxx</p>
          <div class="text-wrapper-26">musicistasup@gmail,com</div>
        </footer>
      </div>
    </div>
  <div class="container">
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="/static/css/img/chatbox-icon.svg"/>
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">Musicista Bot</h4>
                    <p class="chatbox__description--header"></p>
                </div>
            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Write a message...">
                <button class="chatbox__send--footer send__button"><img src="/static/css/img/icons8-send-25.png"></button>
            </div>
        </div>
        <div class="chatbox__button">
            <button><img src="/static/css/img/chatbox-icon.svg"/></button>
        </div>
    </div>
</div>

    <script src="/static/chat.js"></script>
  </body>
</html>
