{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<style>
  body{
        background: linear-gradient(180deg, #E9D8C9 0%, #FDFAF7 87%, rgba(248.84, 233.20, 218.77, 0) 100%);
        background-image: linear-gradient(0deg, rgba(0.50, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0.50) 100%),url(../static/css/img/login.jpeg);
        background-size: cover;
        background-position: 50% 50%;
         background-color: #0000008a;

        background-position: 50% 50%;

        boxShadow: 4px 4px 4px rgba(0, 0, 0, 0.30);
        justify-content: center;
        align-items: center;
         width: 1280px;
  height: 832px;
  position: fixed;
         background-size:cover;

        position: relative;
        font-family: "Javanese Text-Regular", Helvetica;
  font-weight: 400;
  color: #d48e27;
  font-size: 20px;
  }
.property-login{
position: fixed;
}
 .property-login .flexcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 37px;
  position: fixed;
  width: 597px;
     height: 72px;
    top: 199px;
  left: 119px;
}

.property-login .txt {
  position: relative;
  align-self: stretch;
  transform: rotate(0.4deg);
  text-shadow: 5px 13px 4px #f8f2f247;
  font-family:  Garamond (serif) !important;
  font-weight: 400;
  color: #ffffff;
  font-size: 70px;
  text-align: center;
  letter-spacing: 0;
  line-height: 49px;
}

.property-login .text-wrapper {
  font-family: "Italiana-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 70px;
  letter-spacing: 0;
  line-height: 49px;
}
 .form-group{
 margin-top: 15px;
 }
  .form-group label
  {
  color: #D48E27;


  }
  .form-group input{
     width : 280;

     color: '#D48E27'

  }
  .form-group button {
       background: linear-gradient(180deg, rgba(212, 142, 39, 0.71) 76%, #D48E27 100%);
  }
  .log{
  color: white;
  background: linear-gradient(180deg, rgba(212, 142, 39, 0.71) 76%, #D48E27 100%);
  }

  .property-login .login-details {
  position: fixed;
  width: 390px;
  height: 460px;
  top: 51px;
  left: 757px;
  box-shadow: 4px 4px 4px #0000004c;
  background: linear-gradient(
    180deg,
    rgb(232.9, 216.25, 200.88) 0%,
    rgb(253.09, 249.8, 246.76) 86.9%,
    rgba(248.84, 233.2, 218.77, 10) 100%
  );
}

  .text{
  padding-top: 70px;
  color: #D48E27;
  }


</style>
<div class="property-login">
  <div class="div">
        <div class="flexcontainer">
          <p class="txt">
            <span class="text-wrapper">Welcome&nbsp;&nbsp;Guests <br /></span>
          </p>
          <p class="txt">
            <span class="text-wrapper">to<br /></span>
          </p>
          <p class="txt"><span class="text-wrapper">Musicista</span></p>
        </div>
    <div class="login-details" style="border-radius: 25px;">
<form class="login-form" action="/login" method="POST" style=" background: 'linear-gradient(180deg, #E9D8C9 0%, #FDFAF7 87%, rgba(248.84, 233.20, 218.77, 0) 100%)'">
  <h3 align="center " class="text" >Login</h3>
  <div class="form-group" style="    margin-left: 30px;
    margin-right: 30px;">
    <label for="email">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
    />
  </div>
  <div class="form-group" style="    margin-left: 30px;
    margin-right: 30px;">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Enter password"
    />
  </div>
  <br />
  <button type="submit" class="btn log" style="    margin-left: 30px;
    margin-right: 30px;">Login</button>
</form>
      </div>
    </div>
   </div>
{% endblock %}